---
layout: default
---
{% for post in site.posts limit:1 %}
<article role="main">
  <img src="assets/images/{{ post.cover-image }}" alt="Main1" class='responsive'>
  <div>
    <h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>
    <p class='byline'>
      {{ post.date | date: "%-d %b %Y" }} - {{ post.author }}
    </p>
    <p class='intro'>
      {{ post.excerpt }}
    </p>
  </div>
</article>
{% endfor %}

<div class='recent'>
  {% for post in site.posts offset: 1 %}
  <article>
    <h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>
    <p class='byline'>
      {{ post.date | date: "%-d %b %Y" }} - {{ post.author }}
    </p>
    <p class='intro'>
      {{ post.excerpt }} 
    </p>
  </article>
  {% endfor %}
</div>