<footer role='main'>
  <div class='wrapper'>
    <section>
      <h3 class='links'>Links</h2>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='http://coleman.hccs.edu'>HCC Coleman College</a></li>
      </ul>
    </section>
  
    <section>
      <h3 class='categories'>Popular Categories</h3>
      <ul>
        <li>Nursing</li>
        <li>Tech</li>
        <li>Thing</li>
      </ul>
    </section>
  
    <section>
      <h3 class='contact'>Reach Us</h3>
      <ul>
        <li>Twitter</li>
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </section>
  </div>
</footer>