---
---
@import 'variables';

* { box-sizing: border-box; }

body {
  background: $grey-dark;
  color: $grey-medium;
  font-size: 16px;
}

img.responsive {
  width: 100%;
}

/*****************************************************
Primary Header
*****************************************************/

header[role="main"] {
  padding: $default-padding;
  text-align: center;
  
  h1 {
    color: $grey-blue;
    text-transform: lowercase;
    font-weight: 200;
    margin: 0;
    
    span {
      text-transform: uppercase;
    }
  }
  
  h2 {
    color: $gold;
    font-family: script;
    font-weight: normal;
    font-size: 1.125rem;
    font-style: italic;
    margin: 0;
  }
}

/*****************************************************
Primary Content
*****************************************************/

#primary-content {
  background: $white;
  overflow: auto;
}

/*****************************************************
Main Article
*****************************************************/

article[role='main'] {
  background: $grey-blue;
  color: $white;
  padding: 0;
  
  div {
    padding: $default-padding;
  }
}

/*****************************************************
Primary Footer
*****************************************************/

footer[role='main'] {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  
  > .wrapper {
    margin: 0 auto;
  }
  
  a, a:visited, a:hover, a:active {
    color: $white;
  }
  
  div {
    padding: $default-padding;
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    ul li {
      padding: 8px 0;
    }
    
    h3 {
      background: $white;
      border-radius: 1px;
      color: $white;
      font-weight: normal;
      padding: 8px;
    }
  }
  
  .links { background-color: $blue; }
  .categories { background-color: $green; }
  .contact { background-color: $pink; }
}

/*****************************************************
Articles
*****************************************************/

article {
  padding: 0 $default-padding $default-padding;
  
  &:first-child:not([role="main"]) {
    padding-top: $default-padding;
  }
}

.byline {
  font-size: 0.765rem;
  font-style: italic;
}



/*****************************************************
Embelishments
*****************************************************/

/* Tooltip overlay for links */
a[href^='http://'] {
  position: relative;
  
  &:before {
    content: attr(href);
    background: $white;
    border: 1px solid $grey-medium;
    border-radius: 2px;
    color: $grey-dark;
    display: block;
    opacity: 0;
    padding: 4px;
    pointer-events: auto;
    position: absolute;
    top: -4px; left: -4px;
    
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  	transition: opacity 0.3s, transform 0.3s;
  	-webkit-transform: scale(0.5);
  	transform: scale(0.5);
  }
  
  &:hover::before,
  &:focus::before {
    opacity: 1;
  	-webkit-transform: scale(1);
  	transform: scale(1);
  }
}